@page
@model WebPagoEfectivo.Pages.CanjearCodigoModel
@{
    ViewData["Title"] = "Canjear Codigo";
}


<form method="get">
    <div class="form-group">
        <label for="exampleInputEmail1">Ingrese el código a canjear</label>
        <input type="hidden" name="handler" value="search" />
        <input type="text" name="search" class="form-control"  />
    </div>
    <input type="submit" class="btn btn-primary details" value="Submit" />
</form>


<script>

    $('button.details').on('click', function () {
        $.getJSON(`/masterdetails/productasjson?id=${$(this).data('id')}`).done(function (product) {
            $('#product').text(product.productName);
        });
    });

</script>